:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --primary-color: #43516C;
  --primary-color-transparent: rgba(67, 81, 108, .25);
  --secondary-color: #786C49;
  --danger: #ff0062;
  --dark-grey: #333333;
  --white: #fff;
  --shadow: 3px 3px 10px #ddd;
  --space: 30px;
  --accent-color-transparent: rgba(0,0,0,0.81);
  --gradient-transparent: linear-gradient(180deg,var(--accent-color-transparent) 51%,var(--accent-color-transparent));
}

body {
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  background-image: var(--gradient-transparent),url(/background.png);
  background-size: cover;
  background-repeat: repeat;
  color: var(--white);
  margin: 8px 4px 0 4px;
  padding-bottom: 120px;
}

a {
  color: var(--primary-color);
}

a:hover a:active {
  color: var(--primary-color);
}

.primary-text {
  color: var(--primary-color);
}

.form-control {
  border-radius: var(--space);
  text-align: center;
  width:85%;
  max-width: 500px;
  margin: 0 auto;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-color-transparent);
}

.footer {
  display: inline-block;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
  position: fixed;
  color: black;
  background-color: white;
  padding: 20px 0;
}

.footerbtns {
  text-align: right;
  float: right;
  margin-right: 5%;
}

.footertext {
  font-size: 18px;
  float: left;
  margin-left: 5%;
}

.rotating {
  animation: rotating 10s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerlogo {
  height: 200px;
}

li {
  padding-top: 5px;
  text-align: left;
}

 ul {
   text-align: left;
 }

.btn-sm {
  background-color: #34d058;
  color: white;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    position: fixed;
    color: black;
    padding: 5% 0;
  }
  
  .footerbtns {
    text-align: center;
    float: none;
    margin-bottom: 4%;
    margin: 0;
  }

  .footertext {
    display:inline-block;
    width: 240px;
    float: none;
    margin: 0 0;
  }
}
